[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
